{% extends 'petsystem/base.html' %}

{% block content %}
<section id="HOME" class="text-center bg-white mt-4">
    <h2 class="text-danger">WELCOME TO PUPPET-TECH SOLUTIONS</h2>
    <p>
        Your partner in innovative solutions. At Puppet-Tech Solutions, we believe in 
        creating impactful experiences. We're dedicated to providing the best information 
        and support. Our goal is to empower individuals through knowledge and resources 
        and deliver exceptional services that enhance our clients' lives.
    </p>
</section>

<section id="GALLERY" class="bg-light mt-4">
    <div class="container">
        <h2 class="text-center">Pest Gallery</h2>
        <div class="row mt-4">
            {% for pest in pests %}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <img src="{{ pest.image.url }}" class="card-img-top" alt="Image of {{ pest.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ pest.name }}</h5>
                            <p class="card-text">Location: {{ pest.location }}</p>
                            <p class="card-text"><small class="text-muted">Uploaded at: {{ pest.uploaded_at }}</small></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section id="CONNECT" class="text-center mt-4">
    <h2>CONNECT</h2>
    <p>Join us on social media and engage with the community!</p>
</section>
{% endblock %}
